@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

:root {
    --cor-primaria: #e66a00;   /* laranja queimado */
    --cor-secundaria: #ff9f1a; /* laranja claro */
    --cor-escura: #2a1400;     /* marrom escuro */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kalam", cursive;
}

body {
    min-height: 100vh;
    background: linear-gradient(
        0deg,
        #2a1400 0%,
        #7a3d00 15%,
        #ffb347 100%
    );
}

/* ===== HEADER ===== */
.topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 0 30px;
    border-bottom: 4px solid var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffb347;
    z-index: 10;
}

.titulo {
    font-size: 18px;
    font-weight: bold;
    color: #2a1400;
}

.logos {
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-conder {
    height: 26px;
}

.logo-governo {
    height: 60px;
}

/* ===== CONTAINER ===== */
.container {
    min-height: 100vh;
    padding-top: 110px;
    padding-bottom: 30px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    justify-items: center;
    align-items: start;
    text-align: center;
}

/* ===== COLUNAS ===== */
.coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.coluna h4 {
    color: #2a1400;
}

/* ===== ESPAÇO RESERVADO ===== */
.espaco-imagem {
    height: 160px;
    margin-bottom: 10px;
}

.espaco-ultima {
    height: 160px;
    margin-bottom: 50px;
}



/* ===== IMAGEM CENTRAL ===== */
.img {
    height: 160px;
    width: 160px;
    background-image: url('./perfil.png');
    background-size: cover;
    border-radius: 50%;
    border: 4px solid var(--cor-primaria);
    animation: mudarCor 2s infinite;
    margin-bottom: 50px;
}

/* ===== BOTÕES ===== */
.botao {
    width: 320px;
    height: 35px;
    border: 2px solid #2a1400;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    background: linear-gradient(
        90deg,
        #ffb347,
        #e66a00
    );

    box-shadow: 5px 4px 2px rgba(0,0,0,0.85);
    transition: all 0.2s ease;
}

.botao span {
    font-size: 20px;
    color: #2a1400;
}

.botao:hover {
    background: #2a1400;
    transform: scale(0.97);
}

.botao:hover span {
    color: #ffb347;
}

/* ===== FOOTER ===== */
.rodape-fixo {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background: #603000;
    color: #ff9f1a;
}

/* ===== ANIMAÇÃO ===== */
@keyframes mudarCor {
    0%   { border-color: #ffb347; }
    25%  { border-color: #e66a00; }
    50%  { border-color: #b85000; }
    75%  { border-color: #e66a00; }
    100% { border-color: #ffb347; }
}

